.imgBanner {
  height: 75vh;
}

.pozadi {
  background-image: url(../../../assets/banner.jpg);
  height: 75vh;

  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid rgba(0, 0, 0, 0.438);
}

.textVBanneru {
  position: relative;
  top: 25%;
  color: gold;
  background-color: rgba(0, 0, 0, 0.61);
  font-size: 2rem;
  display: inline;
  justify-content: center;
  text-align: center;
}
.webTittle {
  background-color: rgba(0, 0, 0, 0.288);
  padding: 15px 0;
  text-decoration: underline;
}
